{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Sistema de Reclutamiento y Selección</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenido al Sistema de Reclutamiento y Selección</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <ul class="menu">
                <li><a href="{% url 'registrar_postulante' %}">Registrar Postulante</a></li>
                <li><a href="{% url 'seleccionar_horario_puesto' %}">Seleccionar Horario y Puesto</a></li>
                <li><a href="{% url 'preseleccion_candidatos' %}">Preselección de Candidatos</a></li>
                <li><a href="{% url 'seleccion_final' %}">Selección Final</a></li>
                <li><a href="{% url 'crear_perfil' %}">Crear Perfil</a></li>
                <li><a href="{% url 'programar_entrevista' %}">Programar Entrevista</a></li>
                <li><a href="{% url 'actualizar_evaluacion' %}">Actualizar Evaluación</a></li>
            </ul>
        </div>
    </main>
    <footer>
        <div class="containerf">
            <p>&copy; 2024 Sistema de Reclutamiento y Selección</p>
        </div>
    </footer>
</body>
</html>
