<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENÚ - EVALUACIÓN DE DESEMPEÑO</title>
    <link rel="stylesheet" href="{% static 'general.css' %}">

</head>
<body>
    <h1>MENÚ - EVALUACIÓN DE DESEMPEÑO</h1>
    <div>
        <button onclick="window.location.href='/crear/'">Crear un cuestionario</button>
    </div>

    <div>
        <button onclick="window.location.href='/editar/'">Editar un cuestionario</button>
    </div>

    <div>
        <button onclick="window.location.href='/aprobar/'">Aprobar cuestionario</button>
    </div>

    <div>
        <button onclick="window.location.href='/responder/'">Responder cuestionario</button>
    </div>

    <div>
        <button onclick="window.location.href='/revisar'">Revisar cuestionarios</button>
    </div>

    <div>
        <button onclick="window.location.href='/misResultados'">Mis resultados</button>
    </div>

    <div>
        <button onclick="window.location.href='/programarReunion/'">Programar reunión</button>
    </div>

    <div>
        <button onclick="window.location.href='/reunionesPendientes/'">Reuniones pendientes</button>
    </div>

    
    <footer>© 2024 EVALUACIÓN DE DESEMPEÑO</footer>

</body>
</html>


